@color-identifier: #F92672;
@color-class: #A6E22E;
@color-string: #E6DB74;
@color-value: #AE81FF;
@color-function: #66D9EF;

& {
  --dtc-scheme-color-identifier: @color-identifier;
  --dtc-scheme-color-class: @color-class;
  --dtc-scheme-color-string: @color-string;
  --dtc-scheme-color-value: @color-value;
  --dtc-scheme-color-function: @color-function;
}
